.inner-heading {
  height: 50px;
  overflow: hidden;
  text-transform: uppercase;
  position: relative;
}

/* sliding container */
.slide-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  animation: slide 5s ease-in infinite;
}

/* each line */
.slide-box div {
  height: 50px;
  line-height: 50px;
  text-align: center;
}

/* final 2-line animation */
@keyframes slide {
  0%, 45% {
    transform: translateY(0);
  }

  55%, 100% {
    transform: translateY(-50px);
  }
}
